@model StudentManagement.Models.Record
@{
    ViewBag.Title = "Delete Record of " + Model.Student.FirstName + " " + Model.Student.LastName;
}

<h2>Delete This Grade Entry of @Model.Student.FirstName @Model.Student.LastName?</h2>

<div class="customJumbo">

    <div class="table">
        <table>
            <tr>
                <th>
                    @Html.LabelFor(record => record.Course.Title)
                </th>
                <th>
                    @Html.DisplayFor(record => record.Course.Title)
                </th>

            </tr>
            <tr>
                <td>
                    @Html.LabelFor(record => record.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(record => record.CourseId)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(record => record.StudentId)
                </td>
                <td>@Html.DisplayFor(record => record.StudentId)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(record => record.Grade)
                </td>
                <td>
                    @Html.DisplayFor(record => record.Grade)
                </td>
            </tr>
        </table>

        @using (Html.BeginForm())
        {

            <div class="form-group">
                <input type="submit" value="Delete Entry" class="btn btn-primary" /> |
            </div>
        }

        <hr />
        <div>
            @Html.ActionLink(linkText: "Back to Student List", actionName: "AllStudents", controllerName: "Student")
        </div>
    </div>
</div>


