@model IEnumerable<StudentManagement.Models.StudentTotalScore>

@{
    ViewBag.Title = "Top Five Students List";
}

<h2>Top Five Students</h2>


<p>
    @Html.ActionLink("Add another Student", "Create")  |  
    @Html.ActionLink("View Top Five Students", "TopFive")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EntryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalScore)
        </th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => i.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => i.EntryDate)
            </td>
            <td>
               @Html.DisplayFor(modelitem => i.TotalScore)
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Student List", "Index", "Student")
</div>

