@model StudentManagement.Models.Student

@{
    ViewBag.Title = "Change " + Model.FirstName + " " + Model.LastName;
}

<h2>Change Name of @Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm())
{
    <div>
        <div>
            <table class="table">
                <tr>
                    <th>
                        @Html.LabelFor(student => student.FirstName)
                    </th>
                    <td>
                        @Html.EditorFor(student => student.FirstName)
                        @Html.ValidationMessageFor(student => student.FirstName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(student => student.LastName)
                    </th>
                    <td>
                        @Html.EditorFor(student => student.LastName)
                        @Html.ValidationMessageFor(student => student.LastName)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.LabelFor(student => student.EntryDate)
                    </th>
                    <td>
                        @Html.EditorFor(student => student.EntryDate)
                        @Html.ValidationMessageFor(student => student.EntryDate)
                    </td>
                </tr>
            </table>
            

            <hr/>
            <div>
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
            <hr/>

            <div>
                <div>
                    @Html.ActionLink(linkText: "Back to Student List", actionName: "AllStudents", controllerName: "Student")
                </div>
            </div>
        </div>

    </div>

}
