@model StudentManagement.Models.Student

@{
    ViewBag.Title = "Delete " + Model.FirstName + " " + Model.LastName;
}

<h2>Delete @Model.FirstName @Model.LastName?</h2>

<div>
        
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(student => student.FirstName)
            </th>
            
            <td>
                @Html.DisplayFor(student => student.FirstName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(student => student.LastName)
            </th>
            <td>
                @Html.DisplayFor(student => student.LastName)
            </td>
        </tr>
    </table>
</div>
<hr />
<div>
    <input type="submit" value="Delete" class="btn btn-primary" /> 
</div>
<hr />

<div>
    <div>
        @Html.ActionLink(linkText: "Back to Student List", actionName: "AllStudents", controllerName: "Student")
    </div>
</div>


