@model StudentManagement.Models.Student

@{
    ViewBag.Title = "Delete " + Model.FirstName + " " + Model.LastName;
}

<h2>Delete @Model.FirstName @Model.LastName?</h2>

<div class="customJumbo">
        <div class="table-bordered">
            <table>
                <tr>
                    <th>
                        <div>
                            @Html.DisplayNameFor(student => student.FirstName)
                        </div>
                    </th>
                    <td>
                        <hr/>
                    </td>
                    <td>
                        <div>
                            @Html.DisplayFor(student => student.FirstName)
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        <div>
                            @Html.DisplayNameFor(student => student.LastName)
                        </div>
                    </th>
                    <td>
                        <hr />
                    </td>
                    <td>
                        <div>
                            @Html.DisplayFor(student => student.LastName)
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <hr />
        <div>
            <input type="submit" value="Delete" class="btn btn-primary" /> 
        </div>
        <hr />

        <div>
            <div>
                @Html.ActionLink(linkText: "Back to Student List", actionName: "AllStudents", controllerName: "Student")
            </div>
        </div>
    </div>


