@model StudentManagement.Models.Student

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName + "" + "TotalScore";
}

<h2>@Model.FirstName @Model.LastName Total Score</h2>

<div>
    <div>
        <table class="table">
            <tr>
                <th>
                    @Html.LabelFor(student => student.FirstName)
                </th>
                <td>
                    @Html.DisplayFor(student => student.FirstName)
                </td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(student => student.LastName)
                </th>
                <td>
                    @Html.DisplayFor(student => student.LastName)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(student => student.EntryDate)
                </th>
                <td>
                    @Html.DisplayFor(student => student.EntryDate)
                </td>
            </tr>
            
        </table>
        
        <hr/>
        <div>
            <table class="table">
                <tr>
                    <th>@Html.Label("Course Title")</th>
                    <th>@Html.Label("Grade")</th>
                    <th></th>
                  
                </tr>
                @foreach (var record in Model.Records.OrderByDescending(r => r.Grade))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(stud => record.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(stud => record.Grade)
                        </td>
                        <td>
                            @Html.ActionLink(linkText: "Change Grade", actionName: "ChangeRecord", controllerName: "Record", routeValues: new { recordId = record.RecordId }, htmlAttributes: null)
                            &#8226
                            @Html.ActionLink(linkText: "Delete Entry", actionName: "DeleteRecord", controllerName: "Record", routeValues: new { recordId = record.RecordId }, htmlAttributes: null)
                        </td>
                        
                    </tr>
                }
                <tr>
                    <th>@Html.Label("Total Score")</th>
                    <td>
                        @ViewBag.TotalScore
                    </td>
                </tr>
            </table>
                
        </div>
        
</div>
    <p>
        @Html.ActionLink(linkText: "Change Name", actionName: "ChangeName", routeValues: new { id = Model.StudentId }, controllerName: "Student", htmlAttributes: null)
        &#8226
        @Html.ActionLink(linkText: "Back to Student List", actionName: "AllStudents", controllerName: "Student")
    </p>
</div>

